<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tu mama jajajajjaja</title>
</head>
<body>
    <h1>Sistema de Gestión de Eventos</h1>

  <form id="formulario">
    <input type="text" id="cliente" placeholder="Nombre del cliente" required>
    <input type="text" id="tipo" placeholder="Tipo de evento" required>
    <input type="date" id="fecha" required>
    <button type="submit">Registrar evento</button>
  </form>

  <h2>Eventos registrados</h2>
  <ul id="lista"></ul>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>