<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrar usuario</title>
</head>
<body>
    <h2>Registro de Usuario</h2>

<form id="formRegistro">
    <input type="email" id="email_reg" placeholder="Correo" required>
    <input type="password" id="pass_reg" placeholder="Contraseña" required>
    <button type="submit">Registrar</button>
</form>

<p id="mensaje_reg"></p>

<a href="/">Volver al login</a>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

</body>
</html>